<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="cons" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %X{my_tag_event} %d{yyyy-MM-dd HH:mm:ss.SSS}  [%thread] %-5level %logger{100} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>D:\\myLog\\sys-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>180</MaxHistory>
            <maxFileSize>100MB</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %X{my_tag_event} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev"><!-- register in application.yml -->
        <root level="INFO">
            <appender-ref ref="cons"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="file"/>
        </root>
    </springProfile>
</configuration>