<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    (html)th1.html<br>
    (java)getMessage1<br>
    <form name="form1" id="form1" >
        訊息:<span th:text="${msg}"></span><br>
        密碼:<input type="text" name="pwd" th:value="${myObj.pwd}"/><br>
        使用者:<input type="text" name="username" th:value="${myObj.username}"/><br>
        <input type="submit" value="送出"/><br>
    </form>
</body>
</html>